* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:linear-gradient(to bottom,  #009688 0vh, #009688 15vh,
    #d8dbd6 15vh, #d8dbd6 100%) 
    ;
}

/* BOOLZAPP */

/* setting */

div.container-webapp {
    width: 80%;
    height: 90vh;
    background-color: aqua;
    margin: 5vh auto;
    display: flex;
}

div.contacts-section {
    width: 30%;
    height: 100%;
    background-color: white;
}

div.message-section {
    width: 70%;
    height: 100%;
    background-color: crimson;
}

/* header contact section */

div.header-contacts {
    width: 100%;
    background-color: #eaeaea;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 .4rem;
}

div.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: blue;
}

div.myname-section,
div.guest-section {
    display: flex;
    align-items: center;
}

div.profile-username {
    margin-left: .4rem;
    font-size: .9rem;
    font-weight: bold;
}

div.icon-header-contacts {
    display: flex;
    align-items: center;
}

div.icon-header-contacts > i {
    margin-left: 1.4rem;
    font-size: 1rem;
    color: #b1b1b1;
    cursor: pointer;
}

/* notification section */

div.notification-message {
    padding: 0 .4rem;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #8edafc;
}

div.notification-message > div.icon-notification > i {
    background-color: #f2fbff;
    padding: .8rem;
    border-radius: 50px;
    color: #8edafc;
    font-size: 1rem;
}

div.headertext {
    font-size: .8rem;
    margin-left: .5rem;
}

div.headertext.notification {
    font-weight: bold;
}

div.headertext.active-notification {
    text-decoration: underline;
    cursor: pointer;
}

div.searchbar-container {
    height: 50px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}

div.bd-gray-contacts {
    color: #bfc3c7;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: .5rem 0;
    border: .1rem solid #bfc3c7;
}

div.icon-search > i {
    padding: 0 1rem;
}

div.search-bar > input {
    width: 200px;
    height: 20px;
    border: none;
}

/* user set */
div.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: aqua;
    contain: content;
    margin-left: .2rem;
}

div.user-img > img {
    width: 100%;
    height: 100%;
}

div.user-thumbnail {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.034);
    
}

div.user-thumbnail:hover {
    background-color: rgba(128, 128, 128, 0.075);
}

div.in-line {
    display: flex;
    align-items: center;
}

div.guest-name {
    font-size: .9rem;
}

div.last-message {
    color: #d7dad7;
    font-size: .7rem;
    margin-top: .2rem;
} 

div.ml-1 {
    margin-left: .7rem;
}

div.time-last-message {
    color: #d7dad7;
    font-size: .7rem;
    margin-right: .2rem;
}

/* message in section */

div.header-guest-contacts {
    height: 70px;
    background-color: coral;
    display: flex;
}

div.profile-guestname {
    margin-left: .4rem;
}

div.profile-guestname > div {
    font-size: .6rem;
    color: #b1b6bf;
}

div.messages-sect {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

div.new-message {
    height: 70px;
    background-color: dimgray;
}

div.new-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3eeea;
}

div.new-message > i {
    font-size: 1.8rem;
    color: #6a7376;
    cursor: pointer;
}

div.new-message > div > label > input {
    padding: 10px 290px;
    border: none;
}

.current-chat {
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    height: 100%;
}

.received {
    background-color: white;
    margin-left: 1rem;
    min-width: 450px;
    max-width: 450px;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
    margin-right: 5rem;  
    min-width: 450px;
    max-width: 450px; 
}

div.user-message {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 10px;
}

div.date-message {
    display: flex;
    justify-content: flex-end;
    font-size: .7rem;
    color: #b1b6bf;
}




